.DS_Store
.venv/
__pycache__/
.pytest_cache/
*.egg-info/
.ipynb_checkpoints/
.env
build/
*.so
*.dylib
im2col_cython.c
*.part
*.zip
*.pdf
**/cs231n/datasets/*
!**/cs231n/datasets/*.sh
**/cs231n/exp/
**/cs231n/saved/*
!**/cs231n/saved/keep.md
**/pretrained_model/
**/results/
**/data/
dino_res.mp4
